<!DOCTYPE html>
{% load staticfiles %}
{% load crispy_forms_tags %}

<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>MYTUNES</title>
        <meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
    </head>
    <body>

        {% include "snippets/header.html" %}

        {% block content %}

        {% endblock %}
        
        {% include "snippets/footer.html" %}
    </body>
    <script src="{% static 'js/jquery.js' %}"></script>
    <script src="{% static 'js/popper.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
</html>
